<a href="https://colab.research.google.com/github/rithu25/Circos-plots-in-R/blob/master/group1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Group1new.txt', sep="\t")

In [3]:
df1

    Chrom     Start       End  Genename
0    chr1   9004881   9007301  ENO1-IT1
1    chr1   9018381   9019201  ENO1-IT1
2    chr1   9040451   9041041  ENO1-IT1
3    chr1   9004881   9007301  ENO1-AS1
4    chr1   9018381   9019201  ENO1-AS1
..    ...       ...       ...       ...
916  chrX  47574781  47575121     TIMP1
917  chrX  47650031  47650421     TIMP1
918  chrX  47802421  47804001     TIMP1
919  chrX  72272770  72273230     RPS4X
920  chrX  72276230  72277190     RPS4X

[921 rows x 4 columns]

In [4]:
df1['Genename'].unique()

array(['ENO1-IT1', 'ENO1-AS1', 'MACF1', 'RPS8', 'CSDE1', 'LAMC1', 'VIM',
       'ITGB1', 'IFITM3', 'RPS3', 'SERPINH1', 'HSPA8', 'VWF', 'GAPDH',
       'C1R', 'LRP1', 'DCN', 'HSP90B1', 'RPLP0', 'UBC', 'TPT1-AS1',
       'TPT1', 'COL4A2-AS2', 'COL4A2-AS1', 'HSP90AA1', 'THBS1', 'B2M',
       'FBN1', 'RPL4', 'ALDOA', 'CRISPLD2', 'IGFBP4', 'COL1A1', 'CLTC',
       'ACTG1', 'EEF2', 'CALR', 'TPM4', 'FTL', 'SPTBN1', 'COL3A1',
       'COL5A2', 'IGFBP5', 'SERPINE2', 'NCL', 'PTMA', 'COL6A3', 'HDLBP',
       'TGM2', 'COL18A1', 'COL18A1-AS1', 'COL6A1', 'COL6A2', 'TIMP3',
       'MYH9', 'RPL3', 'FBLN1', 'CTNNB1', 'FLNB', 'FLNB-AS1', 'CCDC80',
       'FSTL1', 'PDGFRA', 'SPARC', 'CANX', 'TUBB', 'HSP90AB1', 'EEF1A1',
       'COL1A2', 'CALU', 'CTSB', 'RPS6', 'COL5A1', 'TIMP1', 'RPS4X'],
      dtype=object)

In [5]:
g1 = pd.read_csv("group1newciiider.csv")
e1 = pd.read_excel("enrich1.xlsx")

In [6]:
g1.rename(columns={'Gene Name':'Genename'}, inplace=True)

g1[['Chrom','Start','End','Genename']] = g1.Genename.str.split("_",expand=True,)

g1.head()

  Genename  Gene ID Transcription Factor Name  ... Chrom      Start        End
0   COL5A1      880                     Foxj3  ...  chr9  134811604  134812444
1   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
2   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
3   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
4   COL5A1      880                      EVX2  ...  chr9  134811604  134812444

[5 rows x 13 columns]

In [7]:
merged_df = g1.merge(e1, how = 'inner', on = ["Transcription Factor ID","Transcription Factor Name"])

In [8]:
g1.head()

  Genename  Gene ID Transcription Factor Name  ... Chrom      Start        End
0   COL5A1      880                     Foxj3  ...  chr9  134811604  134812444
1   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
2   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
3   COL5A1      880                      EVX2  ...  chr9  134811604  134812444
4   COL5A1      880                      EVX2  ...  chr9  134811604  134812444

[5 rows x 13 columns]

In [9]:
g1 = merged_df[["Chrom","Start Position",'End Position','Genename','Transcription Factor Name','Transcription Factor ID']].copy()

In [10]:
meh1 = df1.merge(g1,how='left', left_on='Genename', right_on='Genename')

In [11]:


###Add start and end positions
meh1['Start'] = meh1['Start'] + meh1['Start Position'] 


###Add start and end positions
meh1['End'] = meh1['End'] + meh1['End Position']

In [12]:
meh1 = meh1[["Chrom_x","Start",'End','Genename','Transcription Factor Name']].copy()

In [13]:
meh1.rename(columns={'Chrom_x':'Chrom'}, inplace=True)

In [14]:
meh1 = meh1.drop_duplicates()

In [15]:
newmeh1 = meh1.drop_duplicates(subset=['Genename','Transcription Factor Name'], keep="last")

In [16]:
newmeh1.to_csv('group1ciiider.csv', index = False)