<a href="https://colab.research.google.com/github/rithu25/Circos-plots-in-R/blob/master/group3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [9]:
newdf3 = pd.read_csv('Group3new.txt', sep="\t")

In [10]:
newdf3

    Chrom      Start        End Genename
0    chr1  145507730  145508020    TXNIP
1    chr1  145508080  145508200    TXNIP
2    chr1  145508280  145508470    TXNIP
3    chr1  145541150  145541440    TXNIP
4    chr1  145541540  145541800    TXNIP
..    ...        ...        ...      ...
216  chr9  128067430  128069690    HSPA5
217  chr9  128092500  128094200    HSPA5
218  chr9  128094340  128094780    HSPA5
219  chr9  128097530  128099290    HSPA5
220  chr9  128117120  128117920    HSPA5

[221 rows x 4 columns]

In [11]:
newg3 = pd.read_csv("group3newciiider.csv")

In [12]:
newe3 = pd.read_excel("enrich3.xlsx")

In [13]:
newe3['Transcription Factor Name'].nunique()

603

In [14]:
newg3.rename(columns={'Gene Name':'Genename'}, inplace=True)

In [15]:
newg3[['Chrom','Start','End','Genename']] = newg3.Genename.str.split("_",expand=True,)

In [16]:
newg3

       Genename  Gene ID Transcription Factor Name  ... Chrom      Start        End
0          MCL1   454206                      USF2  ...  chr1  150524780  150525010
1          MCL1   454206                      TBX3  ...  chr1  150524780  150525010
2          MCL1   454206                      TBX3  ...  chr1  150524780  150525010
3          MCL1   454206                     HOXA6  ...  chr1  150524780  150525010
4          MCL1   454206                      RAX2  ...  chr1  150524780  150525010
...         ...      ...                       ...  ...   ...        ...        ...
202615     MCL1   454426                     HOXA7  ...  chr1  150524490  150524680
202616     MCL1   454426                     HOXA7  ...  chr1  150524490  150524680
202617     MCL1   454426                      Lhx4  ...  chr1  150524490  150524680
202618     MCL1   454426                      Lhx4  ...  chr1  150524490  150524680
202619     MCL1   454426                      Lhx4  ...  chr1  150524490  150524680

[202620 rows x 13 columns]

In [17]:
newmerged_df = newg3.merge(newe3, how = 'inner', on = ["Transcription Factor ID","Transcription Factor Name"])

In [18]:
newmerged_df

           Genename  Gene ID  ... Log2 Enrichment Significance Score
0              MCL1   454206  ...       -1.566367         -10.567363
1       ADAMTS9-AS1   454207  ...       -1.566367         -10.567363
2       ADAMTS9-AS1   454207  ...       -1.566367         -10.567363
3       ADAMTS9-AS2   454209  ...       -1.566367         -10.567363
4       ADAMTS9-AS2   454209  ...       -1.566367         -10.567363
...             ...      ...  ...             ...                ...
201009     SLC39A14   454400  ...       -2.021920          -3.442959
201010         MCL1   454401  ...       -2.021920          -3.442959
201011        HLA-B   454380  ...       -2.132951         -12.786702
201012        STAT3   454390  ...       -2.132951         -12.786702
201013        STAT3   454412  ...       -2.132951         -12.786702

[201014 rows x 30 columns]

In [19]:
newg3 = newmerged_df[["Chrom","Start Position",'End Position','Genename','Transcription Factor Name','Transcription Factor ID']].copy()

In [20]:
newmeh3 = newdf3.merge(newg3,how='left', left_on='Genename', right_on='Genename')

In [21]:
newmeh3

        Chrom_x      Start  ...  Transcription Factor Name Transcription Factor ID
0          chr1  145507730  ...                       USF2                MA0526.3
1          chr1  145507730  ...                       TBX3                MA1566.1
2          chr1  145507730  ...                       TBX3                MA1566.1
3          chr1  145507730  ...                       TBX3                MA1566.1
4          chr1  145507730  ...                       TBX3                MA1566.1
...         ...        ...  ...                        ...                     ...
5443688    chr9  128117120  ...          FOSL2::JUN(var.2)                MA1131.1
5443689    chr9  128117120  ...                      MEF2B                MA0660.1
5443690    chr9  128117120  ...               Pou5f1::Sox2                MA0142.1
5443691    chr9  128117120  ...               Pou5f1::Sox2                MA0142.1
5443692    chr9  128117120  ...               Pou5f1::Sox2                MA0142.1

[5443693 rows x 9 columns]

In [22]:
###Add start and end positions
newmeh3['Start'] = newmeh3['Start'] + newmeh3['Start Position']

In [23]:
###Add start and end positions
newmeh3['End'] = newmeh3['End'] + newmeh3['End Position']

In [24]:
newmeh3.head()

  Chrom_x      Start  ...  Transcription Factor Name Transcription Factor ID
0    chr1  145508148  ...                       USF2                MA0526.3
1    chr1  145507797  ...                       TBX3                MA1566.1
2    chr1  145507853  ...                       TBX3                MA1566.1
3    chr1  145507915  ...                       TBX3                MA1566.1
4    chr1  145507835  ...                       TBX3                MA1566.1

[5 rows x 9 columns]

In [26]:
newmeh3 = newmeh3[["Chrom_x","Start",'End','Genename','Transcription Factor Name']].copy()

In [27]:
newmeh3.rename(columns={'Chrom_x':'Chrom'}, inplace=True)

In [28]:
newmeh3.to_csv('group3ciiider.csv', index = False)