<a href="https://colab.research.google.com/github/rithu25/Circos-plots-in-R/blob/master/group2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
newdf2 = pd.read_csv('Group2new.txt', sep="\t")

In [6]:
newdf2

    Chrom      Start        End Genename
0    chr1   21474557   21474897    HSPG2
1    chr1   21599617   21601677    HSPG2
2    chr1   21603917   21606057    HSPG2
3    chr1   21606197   21608207    HSPG2
4    chr1   21608937   21609567    HSPG2
..    ...        ...        ...      ...
552  chrX  154791065  154791765     FLNA
553  chrX  154811395  154813005     FLNA
554  chrX  154845205  154846835     FLNA
555  chrX  154853605  154855925     FLNA
556  chrX  154486331  154486531     FLNA

[557 rows x 4 columns]

In [7]:
newdf2['Genename'].unique()

array(['HSPG2', 'CSRP1', 'ATP2B4', 'ENAH', 'ACTA2', 'TAGLN', 'ITGA5',
       'MYL6', 'ACTN1', 'TPM1', 'MYH11', 'PTRF', 'CNN1', 'ACTG2', 'FN1',
       'TNS1', 'DES', 'MYL9', 'MYLK', 'SYNPO2', 'PALLD', 'TGFBI', 'DST',
       'COL12A1', 'CTGF', 'ACTB', 'IGFBP3', 'HSPB1', 'SERPINE1', 'FLNC',
       'CALD1', 'TPM2', 'TLN1', 'TNC', 'FLNA'], dtype=object)

In [8]:
newg2 = pd.read_csv("group2newciiider.csv")
newe2 = pd.read_excel("enrich2.xlsx")

In [9]:
newg2.rename(columns={'Gene Name':'Genename'}, inplace=True)

newg2[['Chrom','Start','End','Genename']] = newg2.Genename.str.split("_",expand=True,)

newg2

       Genename  Gene ID Transcription Factor Name  ... Chrom      Start        End
0          TNS1    558.0                      RBPJ  ...  chr2  218580737  218582967
1          TNS1    558.0                      RBPJ  ...  chr2  218580737  218582967
2          TNS1    558.0                      RBPJ  ...  chr2  218580737  218582967
3          TNS1    558.0              ASCL1(var.2)  ...  chr2  218580737  218582967
4          TNS1    558.0                      TBX2  ...  chr2  218580737  218582967
...         ...      ...                       ...  ...   ...        ...        ...
271703   ATP2B4    997.0                     FOXC1  ...  chr1  203925112  203927572
271704   ATP2B4    997.0                    PHOX2B  ...  chr1  203925112  203927572
271705   ATP2B4    997.0                      TBX4  ...  chr1  203925112  203927572
271706   ATP2B4    997.0                      TBX4  ...  chr1  203925112  203927572
271707     None      NaN                       NaN  ...  chr1  203925112      20392

[271708 rows x 13 columns]

In [10]:
newmerged_df = newg2.merge(newe2, how = 'inner', on = ["Transcription Factor ID","Transcription Factor Name"])

In [11]:
newg2 = newmerged_df[["Chrom","Start Position",'End Position','Genename','Transcription Factor Name','Transcription Factor ID']].copy()

In [12]:
newmeh2 = newdf2.merge(newg2,how='left', left_on='Genename', right_on='Genename')

In [13]:
newmeh2['Start'] = newmeh2['Start'] + newmeh2['Start Position']

In [14]:
newmeh2['End'] = newmeh2['End'] + newmeh2['End Position']

In [15]:
newmeh2 = newmeh2[["Chrom_x","Start",'End','Genename','Transcription Factor Name']].copy()

In [16]:
newmeh2.rename(columns={'Chrom_x':'Chrom'}, inplace=True)

In [17]:
newmeh2 = newmeh2.drop_duplicates()

In [18]:
newmeh2

        Chrom        Start          End Genename Transcription Factor Name
0        chr1   21474580.0   21474929.0    HSPG2                      RBPJ
1        chr1   21474657.0   21475006.0    HSPG2                      RBPJ
2        chr1   21474807.0   21475156.0    HSPG2                      RBPJ
3        chr1   21476220.0   21476569.0    HSPG2                      RBPJ
4        chr1   21475338.0   21475687.0    HSPG2                      RBPJ
...       ...          ...          ...      ...                       ...
7380631  chrX  154486354.0  154486564.0     FLNA                      NRF1
7380632  chrX  154488271.0  154488482.0     FLNA            CREB3L4(var.2)
7380634  chrX  154488269.0  154488484.0     FLNA                      CREM
7380636  chrX  154486494.0  154486708.0     FLNA                    ZBTB33
7380637  chrX  154486359.0  154486573.0     FLNA                     CENPB

[6588400 rows x 5 columns]

In [19]:
newmeh2 = newmeh2.drop_duplicates(subset=['Genename','Transcription Factor Name'], keep="last")

In [20]:
newmeh2

        Chrom        Start          End Genename Transcription Factor Name
55477    chr1   21863588.0   21865577.0    HSPG2                      RBPJ
55487    chr1   21862879.0   21864871.0    HSPG2              ASCL1(var.2)
55496    chr1   21862515.0   21864505.0    HSPG2                      TBX2
55513    chr1   21862232.0   21864218.0    HSPG2                    NFATC2
55520    chr1   21863885.0   21865872.0    HSPG2                     MEIS2
...       ...          ...          ...      ...                       ...
7380631  chrX  154486354.0  154486564.0     FLNA                      NRF1
7380632  chrX  154488271.0  154488482.0     FLNA            CREB3L4(var.2)
7380634  chrX  154488269.0  154488484.0     FLNA                      CREM
7380636  chrX  154486494.0  154486708.0     FLNA                    ZBTB33
7380637  chrX  154486359.0  154486573.0     FLNA                     CENPB

[16022 rows x 5 columns]

In [21]:
newmeh2.to_csv('group2ciiider.csv', index = False)